 <header>
     <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i routerLink="" style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
            </i>
            <strong style="font-size: 30px;">Erik Cart</strong>

            <div class="form-group">
                <input class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" type="text" placeholder="Search product">
            </div>
            <span class="fa fa-search search-icon">

            </span>

        </div>

        <button routerLink="cart" class="btn btn-primary">
            <i class="fas fa-cart-plus" style="font-size:30px"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
     </div>
 </header>